h1 { color:purple; display: inline-block;}
.quote {border-left: 4px brown solid;
        padding-left: 20px;
        margin-left: 20px;
        font-style: italic;
}
.time-beginning {
    display: inline-block;
    margin-left: 40px;
    color:cornflowerblue;
}